<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CurrentPSI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>HazeApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>widget2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0236C50A1D7284AD00B20140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02C568801D728BDD002C9740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02EAAC8A1D71D4B3007C90E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02EAACA11D71D4B3007C90E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02EAACAC1D71D4B3007C90E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02EAACC21D71D4CF007C90E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02EAACD81D71DBBB007C90E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
